<% content_for :title do %>
  <i class="fa fa-th"></i> 
  Programs
<% end %>
<% content_for :subtitle, 'Overview' %>
<% content_for :breadcrumbs do %>
    <ol class="breadcrumb">
      <li><a href="<%= root_url %>"><i class="fa fa-home"></i> Home</a></li>
      <li class="active"><i class="fa fa-th"></i> Programs</li>
    </ol>
<% end %>

<ul class="nav nav-tabs" id="myTab">
  <li class="active">
    <a href="#pending" data-toggle="tab">
      <i class="fa fa-warning"></i> <%= t :pending_programs %>
    </a>
  </li>
  <li>
    <a href="#programs" data-toggle="tab">
      <i class="fa fa-th"></i> <%= t :programs %>
    </a>
  </li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="pending">
    <%= render 'programs/pending', programs: @programs %>
  </div>
  <div class="tab-pane" id="programs">
    <%= render 'programs/calendar', events_source: programs_events_path, programs: @programs %>
  </div>
</div>
