<%= form_for @user, html: {class: "form-horizontal", id: "user_form"} do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :email, class: 'control-label col-sm-3' %>
    <div class="col-sm-9">
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-user"></i></span>
        <%= f.text_field :email, class: 'form-control' %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :password, class: 'control-label col-sm-3' %>
    <div class="col-sm-9">
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
        <%= f.password_field :password, class: 'form-control' %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation, class: 'control-label col-sm-3' %>
    <div class="col-sm-9">
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
        <%= f.password_field :password_confirmation, class: 'form-control' %>
      </div>
    </div>
  </div>

  <% if can? :manage, User %>
    <div class="form-group">
      <%= f.label :role, class: 'control-label col-sm-3' %>
      <div class="col-sm-9">
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-shield"></i></span>
          <%= f.select :role, options_for_select(['contact', 'user', 'superadmin'], f.object.role), {}, class: 'form-control' %>
        </div>
      </div>
    </div>
  <% end %>

  <% i = 0 %>

  <%= f.fields_for :user_channels, f.object.user_channels.select{|uc| can? :read, uc.channel } do |ff| %>

    <%= ff.hidden_field :channel_id %>

    <div class="form-group">
      <label class="control-label col-sm-3">
        <i class="fa fa-desktop"></i>
        <%= ff.object.channel.name %>
      </label>

      <div class="col-sm-9">
        <% if can? :manage, User %>
          <% role = nil %>
          <fieldset class="btn-group form-inline role_fieldset" data-toggle="buttons">
            <label class="btn btn-default <%= 'active' if ff.object.role == 'admin' %>">
              <%= ff.radio_button :role, 'admin' %>
              <i class="fa fa-edit"></i>
              <span class="hidden-xs"><%= t :admin %></span>
            </label>
            <label class="btn btn-default <%= 'active' if ff.object.role == 'user' %>">
              <%= ff.radio_button :role, 'user' %>
              <i class="fa fa-eye"></i>
              <span class="hidden-xs"><%= t :user %></span>
            </label>
            <label class="btn btn-default <%= 'active' if ff.object.role == 'contact' %>">
              <%= ff.radio_button :role, 'contact' %>
              <i class="fa fa-times"></i>
              <span class="hidden-xs"><%= t :deny %></span>
            </label>
          </fieldset>
        <% end %>

        <% success = @user.success_channels.include?(ff.object.channel) %>
        <% error = @user.error_channels.include?(ff.object.channel) %>

        <div class="btn-group form-inline" data-toggle="buttons">
          <label class="btn btn-default <%= 'active' if success %>">
            <input type="checkbox" name="user[user_channels_attributes][<%= i %>][success]" value="1"
            <%= 'checked="checked"' if success %>>
            <span class="text-success">
              <i class="fa fa-envelope"></i>
              <span class="hidden-xs"><%= t :success_notify %></span>
            </span>
          </label>
          <label class="btn btn-default <%= 'active' if error %>">
            <input type="checkbox" name="user[user_channels_attributes][<%= i %>][error]" value="1"
            <%= 'checked="checked"' if error %>>
            <span class="text-danger">
              <i class="fa fa-envelope"></i>
              <span class="hidden-xs"><%= t :error_notify %></span>
            </span>
          </label>
        </div>

      </div>

    </div>
    <% i+=1 %>
  <% end %>

<% end %>

<script type="text/javascript">
  (function($){
    
    var first = true;

    $('#user_role').change(function(){
      $('.role_fieldset label').removeClass('btn-primary');
      switch($(this).val()){
        case 'contact':
          $('.role_fieldset').prop('disabled', true);
          $radio = $('input[type="radio"][value="contact"]')
          $radio.prop('checked', true);
          $label = $radio.parent();
          $label.addClass('btn-primary').trigger('click');
        break;
        case 'user':
          if(!first){
            $('.role_fieldset').prop('disabled', false);
            $radio = $('input[type="radio"][value="user"]');
            $radio.prop('checked', true);
            $label = $radio.parent();
            $label.trigger('click');
          }
        break;
        case 'superadmin':
          $('.role_fieldset').prop('disabled', true);
          $radio = $('input[type="radio"][value="admin"]');
          $radio.prop('checked', true);
          $label = $radio.parent();
          $label.addClass('btn-primary').trigger('click');
        break;
        default: console.log('nope'); break;
      }
      first = false;
    }).trigger('change'); 

  }(jQuery));
</script>
