<%= form_for @user, html: {class: "form-horizontal", id: "user_form"} do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :email, class: 'control-label col-sm-3' %>
    <div class="col-sm-9">
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-user"></i></span>
        <%= f.text_field :email, class: 'form-control' %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :password, class: 'control-label col-sm-3' %>
    <div class="col-sm-9">
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
        <%= f.password_field :password, class: 'form-control' %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation, class: 'control-label col-sm-3' %>
    <div class="col-sm-9">
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
        <%= f.password_field :password_confirmation, class: 'form-control' %>
      </div>
    </div>
  </div>

  <% if can? :manage, User %>
    <div class="form-group">
      <%= f.label :role, class: 'control-label col-sm-3' %>
      <div class="col-sm-9">
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-shield"></i></span>
          <%= f.select :role, options_for_select(['superadmin'], f.object.role), {}, class: 'form-control', disabled: true %>
        </div>
      </div>
    </div>
  <% end %>

<% end %>

<script type="text/javascript">
  (function($){
    
    var first = true;

    $('#user_role').change(function(){
      $('.role_fieldset label').removeClass('btn-primary');
      switch($(this).val()){
        case 'contact':
          $('.role_fieldset').prop('disabled', true);
          $radio = $('input[type="radio"][value="contact"]')
          $radio.prop('checked', true);
          $label = $radio.parent();
          $label.addClass('btn-primary').trigger('click');
        break;
        case 'user':
          if(!first){
            $('.role_fieldset').prop('disabled', false);
            $radio = $('input[type="radio"][value="user"]');
            $radio.prop('checked', true);
            $label = $radio.parent();
            $label.trigger('click');
          }
        break;
        case 'superadmin':
          $('.role_fieldset').prop('disabled', true);
          $radio = $('input[type="radio"][value="admin"]');
          $radio.prop('checked', true);
          $label = $radio.parent();
          $label.addClass('btn-primary').trigger('click');
        break;
        default: console.log('nope'); break;
      }
      first = false;
    }).trigger('change'); 

  }(jQuery));
</script>
