<% content_for :title do %>
  <i class="fa fa-plus"></i>
  <%= t :new_user %>
<% end %>
<% content_for :breadcrumbs do %>
  <div class="row">
    <div class="col-md-10">
      <ol class="breadcrumb">
        <li><a href="<%= root_path %>"><i class="fa fa-home"></i> <%= t :home %></a></li>
        <li><a href="<%= users_path %>"><i class="fa fa-group"></i> <%= t :users %></a></li>
        <li class="active"><i class="fa fa-plus"></i> <%= t :new_user %></a></li>
      </ol>
    </div>
    <div class="col-xs-2">
      <a href="#" onclick="$('#user_form').submit()" class="btn btn-primary btn-breadcrumb col-md-12 pull-right <%= "disabled" unless can? :edit, @channel %>">
      <i class="fa fa-check"></i>
      <span class="hidden-xs"><%= t :create %></span>
    </a>
    </div>
  </div>
<% end %>


<%= render 'users/form' %>
