<% content_for :title do %>
  <i class="fa fa-<%= if @user.role? :user then 'user' else 'envelope' end %>"></i>
  <%= @user.email %>
<% end %>
<% content_for :subtitle, t(:details) %>
<% content_for :breadcrumbs do %>
  <div class="row">
    <div class="col-md-10">
      <ol class="breadcrumb">
        <li><a href="<%= root_path %>"><i class="fa fa-home"></i> <%= t :home %></a></li>
        <li><a href="<%= users_path %>"><i class="fa fa-group"></i> <%= t :users %></a></li>
        <li class="active"><i class="fa fa-<%= if @user.role? :user then 'user'
else 'envelope' end %>"></i> <%= @user.email %></a></li>
      </ol>
    </div>
    <div class="col-md-2">
      <a href="<%= edit_user_path(@user) %>" class="btn btn-primary btn-breadcrumb col-md-12 pull-right <%= "disabled" unless can? :edit, @user %>">
        <i class="fa fa-edit"></i>
        <%= t :edit %>
      </a>
    </div>
  </div>
<% end %>

<table class="table table-striped">
  <tbody>
    <tr>
      <th><i class="fa fa-envelope"></i> <%= t :email %></th>
      <td><%= @user.email %></td>
    </tr>
    <tr>
      <th><i class="fa fa-shield"></i> <%= t :role %></th>
      <td><%= @user.role %></td>
    </tr>
  </tbody>
</table>

