<div class="row">
  <div class="col-md-3">
    <ul class="nav nav-pills nav-stacked" role="tablist">
      <% c = 0 %>
      <% domaine.cartes.each do |carte| c+=1 %>
        <li role="presentation" class="<%= 'active' if c == 1 %>">
          <a href="#d<%=d%>c<%=c%>" aria-controls="d<%=d%>c<%=c%>" role="tab" data-toggle="tab">
            <i class="fa fa-calendar"></i>
            <%= carte.echeance.downcase.capitalize %>
          </a>
        <li>
      <% end %>
    </ul>
  </div>
  <div class="col-md-9">
    <div class="tab-content">
      <% c = 0 %>
      <% domaine.cartes.each do |carte| c+=1 %>
        <div role="tabpanel" class="tab-pane fade <%= 'in active' if c == 1 %>" id="d<%=d%>c<%=c%>">
          <table class="table table-striped">
            <thead>
              <tr>
                <th><i class="fa fa-crosshairs"></i> Ville</th>
                <th><i class="fa icon-thermometer50"></i> Température</th>
                <th><i class="fa fa-sun-o"></i> UV</th>
                <th><i class="fa fa-flag"></i> Temps sensible</th>
                <th><i class="fa icon-winds4"></i> Vent</th>
              </tr>
            </thead>
            <tbody>
              <% carte.villes.each do |ville| %>
                <tr>
                  <th><i class="fa fa-location-arrow"></i> <%= ville.nom %></th>
                  <td>
                    <% if ville.temperature %>
                      <i class="fa icon-thermometer50"></i><%= ville.temperature %>°C
                    <% elsif ville.temperature_min or ville.temperature_max %>
                      <i class="fa icon-cold5"></i><%= ville.temperature_min || '-'  %>°C
                      <i class="fa icon-barometer"></i><%= ville.temperature_max || '-' %>°C
                    <% end %>
                  </td>
                  <td><%= ville.uv %></td>
                  <td><%= ville.temps_sensible %></td>
                  <td>
                    <% if ville.vent_vitesse %>
                      <i class="fa fa-dashboard"></i> <%= ville.vent_vitesse || '-' %>km/h
                    <% end %>
                    <% if ville.vent_direction %>
                      <i class="fa fa-compass"></i> <%= ville.vent_direction.upcase || '-' %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      <% end %>
    </div>
  </div>
</div>
