<% content_for :title do %>
  <i class="fa fa-code"></i> 
  <%= @rapport.xml_file_name %>
<% end %>

<% content_for :subtitle do %>
  <%= @rapport.date_str %>
  |
  <i class="fa fa-edit"></i>
  Edit
<% end %>

<% content_for :breadcrumbs do %>
  <div class="row">
    <div class="col-xs-10">
      <ol class="breadcrumb">
        <li><a href="<%= root_path %>"><i class="fa fa-home"></i> <%= t :home %></a></li>
        <li><a href="<%= rapports_path %>"><i class="fa icon-cloudy1"></i> Rapports Météo</a></li>
        <li class="active"><i class="fa fa-code"></i> <%= @rapport.xml_file_name %></li>
      </ol>
    </div>
    <div class="col-xs-2">
      <a href="#" onclick="$('#rapport_form').submit()" class="btn btn-primary btn-breadcrumb col-md-12 pull-right <%= "disabled" unless can? :edit, @rapport %>">
      <i class="fa fa-check"></i>
      <span class="hidden-xs"><%= t :update %></span>
      </a>
    </div>
  </div>
<% end %>

<%= form_for(@rapport, html: {class: "form", id: "rapport_form", multipart: true}) do |f| %>

  <% if @rapport.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rapport.errors.count, "error") %> prohibited this @rapport from being saved:</h2>
      <ul>
      <% @rapport.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if @rapport.rapport_type.nil? %>
    <div class="alert alert-danger">
      Ce fichier n'a pas pu être classé.
    </div>
  <% end %>

  <% if @rapport.date_str %>
    <div class="form-group">
      <h3><i class="fa fa-calendar"></i> Échéance</h3>
      <%= f.text_field :date_str, class: "form-control" %>
    </div>

  <% end %>

  <h3><i class="fa fa-info-circle"></i> Infos <small>(unités)</small></h3>
  <div class="alert alert-info">
    <%= f.text_area :unites, class: "form-control", rows: 4 %>
  </div>

  <% if @rapport.ephemerides.any? %>
    <h3><i class="fa icon-sunrise4"></i> Éphémérides</h3>
    <div class="panel panel-warning">
      <div class="panel-body">
        <%= render 'ephemeride_form', rapport: @rapport, f: f %>
      </div>
    </div>
  <% end %>
  
  <%= render 'previsions_form', rapport: @rapport, f: f %>

<% end %>
