<% content_for :title do %>
  <i class="fa fa-code"></i> 
  <%= @rapport.xml_file_name %>
<% end %>

<% content_for :subtitle, @rapport.date_str %>

<% content_for :breadcrumbs do %>
  <div class="row">
    <div class="col-xs-10">
      <ol class="breadcrumb">
        <li><a href="<%= root_path %>"><i class="fa fa-home"></i> <%= t :home %></a></li>
        <li><a href="<%= rapports_path %>"><i class="fa icon-cloudy1"></i> Rapports Météo</a></li>
        <li class="active"><i class="fa fa-code"></i> <%= @rapport.xml_file_name %></li>
      </ol>
    </div>
    <div class="col-xs-2">
      <a href="<%= edit_rapport_path @rapport %>" class="btn btn-primary btn-breadcrumb col-md-12 pull-right <%= "disabled" unless can? :edit, @rapport %>">
      <i class="fa fa-edit"></i>
      <span class="hidden-xs"><%= t :edit %></span>
    </a>
    </div>
  </div>
<% end %>

<% if @rapport.unites %>
  <div class="alert alert-info">
    <%= @rapport.unites %>
  </div>
<% end %>

<% if @rapport.ephemerides.any? %>
  <div class="panel panel-warning">
    <div class="panel-heading">
      <h3 class="panel-title"><i class="fa icon-sunrise4"></i> Éphémérides</h3>
    </div>
    <div class="panel-body">
      <%= render 'ephemeride', rapport: @rapport %>
    </div>
  </div>
<% end %>

<%= render 'previsions', rapport: @rapport %>
